<!DOCTYPE html>
<html>
  <head>
    <title>Ilf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
  <%= link_to "Add New Movie List", new_list_path, class: "btn btn-dark position-absolute bottom-0 end-0" %>
  </div>


    <%= yield %>
  </body>
</html>
